{% extends 'base.html' %} {% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/post_css.css' %}">
{% endblock %}
{% block main_content %}
<div class="container">
  <div class="column">
    <div class="column left">
            <p>
        {% if user.is_authenticated %}
          <p>Hi, {{ user.username }}!</p>
        {% else %}
        <p>Welcome, guest!</p>
        {% endif %}
      </p>
      <h2>Side</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>

      <h2>Main Content</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit
        amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget
        elementum magna tristique. Quisque vehicula, risus eget aliquam
        placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
        Praesent scelerisque tortor sed accumsan convallis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit
        amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget
        elementum magna tristique. Quisque vehicula, risus eget aliquam.
      </p>
    </div>

    <div class="column right">
      <h2>BLOG</h2>

      <p>
        A blog is an online journal or informational website where an
        individual, group, or organization writes articles or posts regularly.
      </p>
      <img
        src="{% static 'image/images.jpg' %}"
        alt="Sample Image"
        class="image"
      />
      <input type="text" placeholder="Enter y0ur c0ntent" />
    </div>
  </div>
</div>
<h2>Posts</h2>
<ul class="post-list">
  {% for post in posts %}
    <li class="post-card">
      <h3>{{ post.title }}</h3>
      <p><strong>Author:</strong> {{ post.author }}</p>
      <p><strong>Category:</strong> {{ post.category.name }}</p>
      <p><strong>Date:</strong> {{ post.created_at|date:"F d, Y" }}</p>
      <p>{{ post.content|truncatewords:30 }}</p>
      <a href="{% url 'post_detail' slug=post.slug %}" class="read-more">Read more →</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}