{% extends 'base.html' %}

{% block main_content %}
  <h2>{{ post.title }}</h2>
  <p><small>By {{ post.author }} on {{ post.created_at }}</small></p>
  <div>
    {{ post.content|linebreaks }}
  </div>
  <a href="javascript:history.back()">← Back</a>

  <hr>



<div>
	{% if user.is_authenticated %}
	<form method="post" action="{% url 'add_comment' post.id %}">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Comment</button>
	</form>
	{% else %}
	<p>Please Login to comment.</p>
	{% endif %}
	<div>
		<h3>Comments {{ comments.count }} </h3>
		{% for comment in comments %}
		<div>
			<p><strong>{{ comment.user }}</strong>: {{ comment.content }}</p>
			<small>{{ comment.created_at }}</small>

			{% if user == comment.user %}
			<a href="{% url 'edit_comment' comment.pk %}">Edit</a>
			<a href="{% url 'delete_comment' comment.pk %}">Delete</a>
			{% elif user.is_superuser %}
			<a href="{% url 'delete_comment' comment.pk %}">Delete</a>
			{% endif %}
		</div>
		<hr> {% empty %}
		<p>No comments yet! Be the first </p>
		{% endfor %}
	</div>
</div>{% endblock %}
