.post-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: grid;
  gap: 20px;2
}

.post-card {
  background-color: #ffffff;
  padding: 20px;
  margin: 0 40px;
  border-radius: 12px;
}

.post-card h3 {
  margin: 0;
  font-size: 1.4rem;
  color: #333;
  background:none;
}
p,a,strong{
    background:none;
}


.read-more {
  margin-top: auto;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}




