<!-- templates/signup.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h2>Signup Form</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Username:</label><br>
        <input type="text" name="username" required><br>
        
        <label>Email:</label><br>
        <input type="email" name="email" required><br>
        
        <label>Password:</label><br>
        <input type="password" name="password" required><br>
        
        <label>Confirm Password:</label><br>
        <input type="password" name="confirm" required><br><br>

        <input type="submit" value="Sign Up">
    </form>
</body>
</html>
