{% extends 'base.html' %} {% block main_content %}
<h1>About This Blog</h1>
    <div class="container">
        <p>Hello! I'm Umesh Rajbanshi, a final-year Electronics and Communication student with a deep interest in Embedded Systems, Web Development, and AI.</p>
        <p>This blog is a space where I share tutorials, projects, and experiences related to tech and learning. Whether it's a Django web app or an Arduino-based device, you'll find detailed guides and thoughts here.</p>
        <p>I hope this blog helps fellow learners, sparks collaboration, or even inspires new ideas. Feel free to explore, comment, or connect!</p>
    </div>
{% endblock %}
